{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	{% block fos_user_content %}
	    <div class="row" style="margin-top: 30px;">
	        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
	        	<div class="login-logo">
                    <a href="{{ path('homepage') }}" title="">
                        <img src="{{ asset('images/Logo.png') }}" width="200" height="100%" >
                    </a>
                </div>
                
	            <div class="callout callout-info flat">
	                <h4>Hola Bienvenido, solo te queda un paso por cumplir.</h4>
	                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
	            </div>
	            <a class="btn btn-default btn-flat" href="{{ path('homepage') }}" title="">
			    	<i class="ion-chevron-left"></i> 
					{{ 'go.home.btn'|trans({}, 'messages') }}
			    </a>
	        </div>
	    </div>
	{% endblock fos_user_content %}
{% endblock body %}
