{% extends 'base.html.twig' %}

{% block avanzu_page_subtitle %}{{ "users.title"|trans }}{% endblock %}

{% block submenu %}
    <div class="row">
        <div class="col-md-12">
            <div class="my-box" style="padding: 10px;">
                <a href="{{ path('user_index') }}" class="btn btn-primary btn-flat">
                    <i class="fa fa-arrow-circle-left"></i>
                    VOLVER A {{ "users.title"|trans }}
                </a>
                {% if is_granted('ROLE_USERS_DELETE') %}
                    {{ form_start(delete_form, { "attr": {"id": "form-borrar"}}) }}
                        <input type="submit" value="Borrar" class="btn btn-danger btn-flat">
                    {{ form_end(delete_form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            {% embed 'AvanzuAdminThemeBundle:Widgets:box-widget.html.twig' %}
                {% block box_before %}{{ form_start(form) }}{% endblock %}
                {% block box_title %}{{ "user.title"|trans }}{% endblock %}
                {% block box_body %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center" style="margin-top: 10px;">
                                {% if user.avatar %}
                                    <img id="img_preview" src="{{ vich_uploader_asset(user, 'avatarFile')|imagine_filter('my_thumb_130x130') }}" alt="{{ user.name }}" style="min-width: 130px; min-height: 130px; max-width: 130px; max-height: 130px;" />
                                {% else %}
                                    <img id="img_preview" src="{{ asset('images/avatar.png')|imagine_filter('my_thumb_130x130') }}" alt="{{ user.name }}" style="min-width: 130px; min-height: 130px; max-width: 130px; max-height: 130px;" />
                                {% endif %}
                            </div>
                            <div class="text-center" style="margin-top: 10px;">
                                {{ form_widget(form.avatarFile) }}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="" style="padding: 0 20px;">
                                {{ form_widget(form) }}
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success btn-flat"><strong>{{ "save.btn"|trans }}</strong></button>
                    </div>
                {% endblock %}
                {% block box_after %}{{ form_end(form)}}{% endblock %}
                {% block box_tools %}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %} 
    {% include 'AvanzuAdminThemeBundle:Partials:_header-form-extra.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'AvanzuAdminThemeBundle:Partials:_scripts-form-extra.html.twig' %}
    <script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.numeric.extensions.js') }}"></script>
    <script src="{{ asset('js/tools.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/form.js') }}" type="text/javascript"></script>
{% endblock %}

{% block avanzu_javascripts_inline %}{% endblock %}
